# Pastas de Build do .NET
**/bin/
**/obj/

# Banco de dados local (gerado dinamicamente)
**/wms.db

# Configurações do VS Code ou IDEs
.vscode/
.idea/
*.user
wms_clean.db
wms_clean.db-shm
wms_clean.db-wal
